*.iml
*.ipr
*.iws
*.swp
*.zip
*.xcodeproj
*.log
*.sublime
.DS_Store
.idea
Build
coverage
coverage.data
node_modules/
.cache/
target/
.classpath
.settings
.project
report.xml
checkout/
release.properties
*.releaseBackup
nohup.out
*.#*
test-app
*metastore_db*
*.versionsBackup
*.tgz
*.jar
